# ============ ??? ============
# ??????/????????
Thumbs.db
Desktop.ini
.DS_Store
*.tmp
*.bak
*.swp
*.swo

# ============ 25g-csrc (STM32F4 / Keil MDK) ============
# ?????????
25g-csrc/OBJ/
25g-csrc/Listings/
25g-csrc/USER/DebugConfig/
25g-csrc/USER/RTE/

# Keil ???????
*.o
*.d
*.crf
*.axf
*.hex
*.bin
*.htm
*.lnp
*.map
*.lst
*.sct
*.dep
*.build_log.htm

# ????/????????????????????
25g-csrc/USER/JLinkLog.txt
25g-csrc/USER/JLinkSettings.ini

# Keil ???????/???????????????????????????
*.uvoptx
*.uvguix
*.uvguix.*

# ============ 25g-vsrc (Xilinx Vivado) ============
# Vivado ?????/??????????????????
25g-vsrc/.Xil/
25g-vsrc/*.cache/
25g-vsrc/*.hw/
25g-vsrc/*.ip_user_files/
25g-vsrc/*.runs/
25g-vsrc/*.sim/

# Vivado ???/?¼T???
25g-vsrc/*.jou
25g-vsrc/*.log
25g-vsrc/*.backup.jou
25g-vsrc/*.backup.log
25g-vsrc/*_pid*.str
25g-vsrc/vivado_*.str